<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>paypal</h1>
    <form action="/api/v1/unilife/payment/order/success" method="post" >
        <button type="submit"">
            Pay
        </button>
    </form>
  </body>
</html>
